#myMenu {
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
}

.nav-container-logo {
  height: 75px;
}

.myMenu__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myMenu__links img {
  width: 75px;
}

.myMenu__links a {
  text-decoration: none;
  margin-right: 1rem;
  color: white !important;
  font-size: 1.3em;
}

.regular-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  display: none;
  z-index: 2;
  position: fixed;
}

.mobile-nav__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.mobile-nav__hamburger__line {
  border-top: 9px solid white;
  border-radius: 20px;
  position: relative;
}

.mobile-nav__hamburger__line::after {
  content: "";
  border-top: 10px solid black;
  position: absolute;
  bottom: -1px;
  right: 1px;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  opacity: 0.35;
}

.mobile-nav__hamburger .mobile-nav__hamburger__line:nth-of-type(1) {
  width: 85px;
}

.mobile-nav__hamburger .mobile-nav__hamburger__line:nth-of-type(2) {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobile-nav__hamburger .mobile-nav__hamburger__line:nth-of-type(3) {
  width: 75px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 100vh;
}

.mobile-menu::before {
  content: "";
  background: url("../../backgrounds/black.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: -1;
}

.mobile-menu img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 3;
}

.mobile-menu button {
  width: 100%;
  height: 25vh;
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (541 - 360)));
}

.mobile-menu button::after {
  content: "";
  width: 95%;
  display: block;
  border-bottom: 3px solid white;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  opacity: 0.65;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  display: none !important;
}

@media (max-width: 541px) {
  .regular-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
}
